@font-face {
	font-family: "Forum";
	src: url("../fonts/Forum-Regular.eot");
	src: local("☺"), url("../fonts/Forum-Regular.woff") format("woff"),
		url("../fonts/Forum-Regular.ttf") format("truetype"), url("../fonts/Forum-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
